%d-flex {
  display: flex;
}

.todo__main-taskContainer {
  @extend %d-flex;

  flex-direction: column;
  width: 100%;
  background-color: white;
  align-items: flex-start;

  @keyframes throughLineEffect {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes reverseThroughLineEffect {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .todo__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    font-size: 1.75rem;
    gap: 1rem;
    border-top: thin solid rgb(224, 224, 224);
    font-family: 'Courier New', Courier, monospace;
    background-color: white;

    &.updateMode {
      background-color: rgb(244, 50, 50);
    }

    .todo__task-placeholder {
      position: relative;
      font-family: inherit;
      height: 2.75rem;
      display: flex;
      align-items: center;
      width: 100%;
      background-color: inherit;
      font-size: 1.4rem;

      .strike {
        position: relative;
        vertical-align: middle;
      }

      .update-todo__input {
        position: absolute;
        left: 0;
        top: 50%;
        font-size: inherit;
        width: inherit;
        height: inherit;
        font-family: inherit;
        transform: translate(0, -50%);
        background-color: inherit;
        border: none;
        outline: none;
        z-index: -1;

        &.update {
          z-index: 1;
        }
      }
    }

    &-status {
      width: 1.6rem;
      cursor: pointer;

      &:checked ~ .todo__task-placeholder .strike::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.25px;
        transform: translate(0, -50%);
        background: black;
        animation: throughLineEffect var(--animation-delay-time) linear 1;
      }

      &.uncompleted .todo__task-placeholder .strike::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 1px;
        transform: translate(0, -50%);
        background: black;
        animation: reverseThroughLineEffect var(--animation-delay-time) linear 1;
      }
    }

    .todo__mode {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: move;

      .fontawesome-icon {
        padding: 0 0.1rem;
        color: lightgray;
      }
    }
  }
}
